.all-course-section {
    display: flex;
    justify-content: center;
    margin-top: 80px;

    .results {
        font-size: 24px;
        font-family: $lato;
        margin-left: 340px;
        margin-bottom: 50px;
    }

    .main-page {
        display: flex;
    }
}

.filters {
    width: 600px;
    margin-right: 100px;
    display: block;
    border: 1px $light-gray-color solid;

    .filter-list .list__item {
        margin: 10px 0;
    }
}

.course-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 0 40px;
}