.header {
    width: 100vw;
    height: 90vh;
    background-image: url('../source/darker-wall.png');

    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-section {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .preview-header {
        font-size: 80px;
        text-align: center;
        font-family: $play-fair;
        font-weight: bolder;
    }

    .preview-description {
        font-size: 18px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .explore {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 220px;
        height: 50px;
        font-weight: 400;
        border-radius: 25px;
        background-color: $rich-green-color;
        transition: .3s;

        &:hover {
            background-color: $rich-green-darker;
        }

        .loupe {
            width: 20px;
            height: 20px;
            margin-left: 10px;
        }
    }
}

.latest-section {
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

.latest-block {
    .latest-course__header {
        font-size: 35px;
        margin-bottom: 15px;
    }

    .latest-course__list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
        justify-content: space-between;
    }

    .latest-course__description {
        font-size: 20px;
        opacity: .9;
    }
}

.box {
    padding: 10px 10px 30px;
    margin-bottom: 30px;
    border: 2px $light-gray-color solid;
    border-radius: 15px;
    transition: .2s;

    & p {
        margin-left: 10px;
    }

    &:hover {
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px;
    }

    .course-image {
        height: 160px;
        width: 280px;
        object-fit: cover;
        border-radius: 15px;
    }

    .author {
        opacity: .8;
        margin: 15px 10px;
        font-size: 14px;
    }

    .title {
        margin-bottom: 15px;
    }

    .tag {
        font-size: 14px;
        opacity: .8;
    }

    .level {
        font-size: 14px;
        opacity: .8;
        margin-top: 3px;
    }
}

.additional-section {
    display: flex;
    padding: 60px 0;
    justify-content: center;
    background-color: #F5F5DC;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .photo {
        width: 580px;
        height: 440px;
        margin-left: 100px;
        border-radius: 20px;
        background-size: cover;
        background-image: url(../source/mac.jpg);
    }
}

.description {
    .description-header {
        width: 600px;
        font-size: 40px;
        font-family: $play-fair;
        font-weight: 500;
    }

    .description-subheader {
        opacity: .7;
        margin: 10px 0 40px;
    }

    .view-all {
        padding: 10px 20px;
        color: white;
        border-radius: 5px;
        background-color: $rich-green-color;
        border: 1px $rich-green-color solid;
        transition: .3s;

        &:hover {
            background-color: white;
            border: 1px $rich-green-color solid;
            color: $rich-green-color;
        }
    }
}