.register-section {
    display: flex;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    font-family: $lato;
}

.preview-form {
    display: flex;
    justify-content: center;
    align-items: center;

    .preview-photo {
        width: 450px;
        height: 400px;
        background-image: url(../source/books.jpg);
        background-size: cover;
        margin-right: 40px;
    }

    .preview-text {
        color: $rich-green-darker;
        
        .register-header {
            font-size: 40px;
            text-transform: uppercase;
        }
    
        .register-description {
            font-size: 20px;
            opacity: .7;
        }
    }
}

.register-fields {
    display: flex;
    justify-content: center;
    gap: 20px;

    input {
        width: 245px;
        padding: 10px;
        margin-top: 40px;
        margin-bottom: 10px;
        font-size: 14px;
        opacity: .9;
        border: 1px #ccc solid;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    }
}

.fields-text {
    margin-top: -80px;
    margin-left: 300px;
    font-size: 12px;
    opacity: .8;

    .email {
        margin-left: 15px;
    }

    .password {
        margin-left: 238px;
    }

    .confirm {
        margin-left: 213px;
    }
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    .submit {
        color: white;
        padding: 10px;
        width: 400px;
        border-radius: 5px;
        margin-top: 40px;
        text-transform: uppercase;
        border: 1px $rich-green-color solid;
        background-color: $rich-green-color;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
        transition: .2s ease;

        &:hover {
            background-color: #056961;
        }
    }
}

.registered-form {
    text-align: center;

    .response {
        margin-top: 80px;
        color: #424242;
        font-family: $lato;
        font-weight: 900;
        font-size: 24px;
    }
}