// Font declaration
$roboto: "Roboto", sans-serif;
$lato: "Lato", sans-serif;
$play-fair: "Playfair Display", serif;

// Color declaration
$rich-green-color: #097969;
$rich-green-darker: #096979;
$chocolate-color: #5C3317;
$light-gray-color: #eeeeee;
$gray-color: #f1f1f1;