.add-course__section {
    display: flex;
    justify-content: center;
    margin-top: 60px;

    .container {
        width: 800px;

        .add-course__header {
            font-size: 32px;
            font-weight: bold;
            color: $rich-green-color;
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 2px solid $dark-gray-color;
        }

        .require-desc {
            font-size: 14px;
            font-family: $poppins;
            color: $black-gray-color;
        }

        .create-form {
            margin-top: 20px;

            .create-form__list {
                display: grid;
                grid-template-columns: auto auto;
                font-family: $poppins;

                .create-form__item {
                    margin-bottom: 25px;
    
                    input {
                        margin-top: 8px;
                        padding: 5px 10px;
                        font-size: 14px;
                        border-radius: 3px;
                        width: 350px;
                        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
                    }

                    select {
                        padding: 5px 10px;
                        margin-top: 8px;
                        width: 200px;
                        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
                        border-radius: 3px;
                    }
                }

                .create-form__upload {
                    width: 170px;
                    padding: 5px 0px;
                    margin-bottom: 25px;
                    border-radius: 5px;
                    background-color: $rich-green-color;
                    transition: .3s;

                    &:hover {
                        background-color: $rich-green-darker;
                    }

                    label {
                        margin-left: 20px;
                        color: white;
                    }

                    input {
                        opacity: 0;
                        display: none;
                    }
                }
            }

            .form-additional {
                display: flex;
                align-items: center;
                opacity: .9;
                margin: 20px 0;
                padding: 20px 10px;
                border-top: 2px solid $dark-gray-color;
                border-bottom: 2px solid $dark-gray-color;

                img {
                    width: 40px;
                    height: 40px;
                    margin-right: 20px;
                }
            }

            .create-button-container {
                display: flex;

                .create-form__button {
                    padding: 10px 25px;
                    margin-left: auto;
                    color: white;
                    border-radius: 5px;
                    background-color: $rich-green-color;
                    transition: .3s;
    
                    &:hover {
                        background-color: $rich-green-darker;
                    }
                }
            }

        }
    }
}