.all-course-section {
    display: flex;
    justify-content: center;
    margin-top: 80px;

    .results {
        font-size: 24px;
        font-family: $lato;
        margin-left: 340px;
        margin-bottom: 50px;
    }

    .main-page {
        display: flex;
    }
}

.filters {
    width: 600px;
    margin-right: 100px;
    display: block;
    font-family: $lato;
    font-size: 18px;
}

.course-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 0 40px;
}


.filter-list .list__item {
    input {
        margin-top: 10px;
    }

    label {
        margin-left: 10px;
    }
}
