/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1400px;
}

a {
  color: #5C3317;
}

.router-link {
  color: #5C3317;
  text-transform: uppercase;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
}
.nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-button {
  color: #097969;
  font-weight: 900;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  letter-spacing: 1.6px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.sign-in__button {
  font-weight: 400;
  font-family: "Lato", sans-serif;
  padding: 7px 15px;
  border: 1px #097969 solid;
  border-radius: 5px;
  color: #097969;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sign-in__button:hover {
  color: white;
  background-color: #097969;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  font-weight: 600;
}
.nav-bar .nav-bar__item {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #5C3317;
}
.nav-bar .nav-bar__item:hover {
  opacity: 0.7;
}

.sign-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding-left: 60px;
}

.header {
  width: 100vw;
  height: 90vh;
  background-image: url("../source/darker-wall.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preview-section {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.preview-section .preview-header {
  font-size: 80px;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: bolder;
}
.preview-section .preview-description {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
.preview-section .explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 220px;
  height: 50px;
  font-weight: 400;
  border-radius: 25px;
  background-color: #097969;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.preview-section .explore:hover {
  background-color: #096979;
}
.preview-section .explore .loupe {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px 0;
}

.latest-block .latest-course__header {
  font-size: 35px;
  margin-bottom: 15px;
}
.latest-block .latest-course__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.latest-block .latest-course__description {
  font-size: 20px;
  opacity: 0.9;
}
.latest-block .view-all {
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  background-color: #097969;
  border: 1px #097969 solid;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.latest-block .view-all:hover {
  background-color: white;
  border: 1px #097969 solid;
  color: #097969;
}

.box {
  padding: 10px 10px 30px;
  margin-bottom: 30px;
  border: 2px #eeeeee solid;
  border-radius: 15px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.box p {
  margin-left: 10px;
}
.box:hover {
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px;
}
.box .course-image {
  height: 160px;
  width: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.box .author {
  opacity: 0.8;
  margin: 15px 10px;
  font-size: 14px;
}
.box .title {
  margin-bottom: 15px;
}
.box .tag {
  font-size: 14px;
  opacity: 0.8;
}
.box .level {
  font-size: 14px;
  opacity: 0.8;
  margin-top: 3px;
}

.all-course-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}
.all-course-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filters {
  width: 600px;
  margin-right: 100px;
  display: block;
  border: 1px #eeeeee solid;
}
.filters .filter-list .list__item {
  margin: 10px 0;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0 40px;
}

.register-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
}

.preview-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lato", sans-serif;
}
.preview-form .preview-photo {
  width: 450px;
  height: 400px;
  background-image: url(../source/books.jpg);
  background-size: cover;
  margin-right: 40px;
}
.preview-form .preview-text {
  color: #096979;
}
.preview-form .preview-text .register-header {
  font-size: 40px;
  text-transform: uppercase;
}
.preview-form .preview-text .register-description {
  font-size: 20px;
  opacity: 0.7;
}

.register-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
.register-fields input {
  width: 245px;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 14px;
  opacity: 0.9;
  border: 1px #ccc solid;
  border-radius: 5px;
}

.fields-text {
  margin-top: -80px;
  margin-left: 300px;
  font-size: 12px;
  opacity: 0.8;
}
.fields-text .email {
  margin-left: 15px;
}
.fields-text .password {
  margin-left: 238px;
}
.fields-text .confirm {
  margin-left: 213px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form .submit {
  color: white;
  padding: 10px;
  width: 400px;
  border-radius: 5px;
  margin-top: 40px;
  text-transform: uppercase;
  border: 1px #097969 solid;
  background-color: #097969;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.form .submit:hover {
  color: #097969;
  background-color: white;
}