/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1400px;
}

a {
  color: #5C3317;
}

.router-link {
  color: #5C3317;
  text-transform: uppercase;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
}
.nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-button {
  color: #097969;
  font-weight: 900;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  letter-spacing: 1.6px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.home-button:hover {
  color: #096979;
  font-size: 21px;
}

.login {
  font-weight: 400;
  font-family: "Lato", sans-serif;
  padding: 7px 15px;
  border: 1px #097969 solid;
  border-radius: 5px;
  color: #097969;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.login:hover {
  opacity: 0.7;
}

.register {
  font-weight: 400;
  font-family: "Lato", sans-serif;
  padding: 7px 15px;
  border: 1px #097969 solid;
  border-radius: 5px;
  color: #097969;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.register:hover {
  opacity: 0.7;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  font-weight: 600;
}
.nav-bar .nav-bar__item {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #5C3317;
}
.nav-bar .nav-bar__item:hover {
  opacity: 0.7;
}

.sign-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding-left: 60px;
}

.header {
  width: 100vw;
  height: 90vh;
  background-image: url("../../../public/source/darker-wall.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preview-section {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.preview-section .preview-header {
  font-size: 80px;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: bolder;
}
.preview-section .preview-description {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
.preview-section .explore {
  background-color: #097969;
  width: 220px;
  height: 45px;
  border-radius: 3px;
  font-weight: 400;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.preview-section .explore .arrow {
  margin-left: 10px;
}
.preview-section .explore:hover {
  background-color: #096979;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px 0;
}

.latest-block .latest-course__header {
  font-size: 30px;
  margin-bottom: 10px;
}
.latest-block .latest-course__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}
.latest-block .box {
  border: 2px #D3D3D3 solid;
  border-radius: 5px;
  padding: 10px;
}
.latest-block .box .course-image {
  height: 140px;
  width: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}